.about-container{
      justify-content: space-between;
      gap: 37px;
}
.about-left{
      width: 45vw;
}
.about-left p{
      line-height: 1.6rem;
}
.about-right img{
      width: 100%;
      height: auto;
      max-width: 580px;
      border-radius: 7%;
      box-shadow: 0 0 8px 1px gray;
}
.vision-container{
      gap: 5%;
overflow: hidden;
      justify-content: space-evenly;
}
.vision.mission {
      width: 42%;
      border-radius: 5px;
}
.vision h2 ,.mission h2{
      padding-bottom: 10px;
}

.vision{
      background-color: var(--about-bg);
      padding: 15px 5px;
      box-shadow: 0 0 8px gray;
}
.mission{
      background-color: var(--about-bg);
      padding: 15px 5px;
      box-shadow: 0 0 8px gray;

}
@media screen and (max-width:1300px){
      .about-container{
            justify-content: space-between;
            gap: 20px;
      }
      .about-left{
            width: 65vw;
      }
      .about-left p{
            line-height: 1.3rem;
      }
}

@media screen and (max-width:1030px) {
      .about-container{
            flex-direction: column-reverse;
            margin-block: 5px;
      }
      .about-left{
            width: 100%;
      }
      .about-right img{
            max-width: 700px;
      }
      
      .about-left p{
            line-height: 1.5rem;
            /* text-align: center; */
      }
      
}
@media screen and (max-width:750px) {
      .aboutus h1{
            padding-block: 4px;
      }
      .vision-container{
            flex-direction: column;
            gap: 20px;
      }
}